@(mapContenidos:Map[String, notificaciones.DatoNotificacion]) 

<table width="630" cellspacing="0" cellpadding="0" style="background-color:#fff;border:1px solid #b2b2b2;font-family:Gotham,'Helvetica Neue',Helvetica,Arial,sans-serif;width:630px!important">
<tbody>
<tr style="text-align:center" bgcolor="#1992d1" height="50px">
<td colspan="2" align="center">
<span style="font-size:16px;padding-top:10px;font-weight:bold;padding-bottom:10px;padding-left:90px;padding-right:90px;font-size:25px;color:#fff">
Hola estimado usuario @mapContenidos("USUARIO_NAME").informacion , </span>
</td>
</tr>
</tbody>
</table>

<br />
<br />

<h3>A continuación una notificación de su interes</h3>

  <dl>
  
  	<dt>
  	<label>@mapContenidos("DATO_EJEMPLO_INFORMACION").descripcion</label> 
 	</dt>
  	<dd>
  	<p style= "color:@mapContenidos("DATO_EJEMPLO_CSS").informacion;" >
  		@mapContenidos("DATO_EJEMPLO_INFORMACION").informacion
  		</p>
  	</dd>
  </dl>

<br />

<p>
	Le saluda,<br /> 
	<i>El equipo de Proyecto Escarabajo</i>
</p>
