@(estacionForm: ControllerSitiosDeAlquiler.FormularioEstacion,
	nuevaEstacion: Boolean)

@import helper._

@main("Formulario estacion") {
 <div class="container">
	<h1></h1>
	@helper.form(action = routes.ControllerSitiosDeAlquiler.guardarEstacion(nuevaEstacion)) {
	<fieldset style="padding-left: 1cm;">
		@if(nuevaEstacion){
		<legend>Estacion: Nueva estacion</legend>		
		}else{
		<legend>Estacion: @estacionForm.nombre</legend>
		}		
		<input name="id" id="id" type="hidden" value="@estacionForm.id"/>
		<table class="table">		
			<tr>
				<td width="20%">Nombre:</td>
				<td width="20%"><input placeholder="Nombre estación" class="form-control" name="nombre" id="nombre" value="@estacionForm.nombre"/></td>
				<td width="60%"><em>Agregue un nombre para la estacion a crear. <br>Por ejemplo: "Estación Biblioteca Virgilio Barco"</em></td>
			</tr>
			<tr>
				<td width="20%">Latitud:</td>
				<td width="20%"><input placeholder="Latitud" class="form-control" name="latitud" id="latitud" value="@estacionForm.latitud"/></td>
				<td width="60%"><em>Agregue la latitud de la estacion. <br>Por ejemplo: "40.75793"</em></td>
			</tr>
			<tr>
				<td width="20%">Longitud:</td>
				<td width="20%"><input placeholder="Longitud" class="form-control" name="longitud" id="longitud" value="@estacionForm.longitud"/></td>
				<td width="60%"><em>Agregue la longitud de la estacion. <br>Por ejemplo: "-73.98551"</em></td>
			</tr>
			<tr>
				<td>Hora inicio atencion:</td>
				<td>
				<select class="form-control"  name="horaInicioAtencion">
				 @for(hora <- models.Horas.values()){
			        <option value="@hora.getHora()" @if(!nuevaEstacion && hora.getHora().equals(estacionForm.horaInicioAtencion)){selected} >@hora.getHora()</option>
			     }
			     </select>
			     </td>
				<td><em>Seleccione la hora de inicio de atención de la atención.</td>
			</tr>
			<tr>
				<td>Hora fin atencion:</td>
				<td>
				<select class="form-control"  name="horaFinAtencion">
				@for(hora <- models.Horas.values()){
			        <option value="@hora.getHora()" @if(!nuevaEstacion && hora.getHora().equals(estacionForm.horaFinAtencion)){selected} >@hora.getHora()</option>
			     }
			     </select>
			     </td>
				<td><em>Seleccione la hora de inicio de atención de la atención./td>
			</tr>
			<tr>
				<td>Para alquiler:</td>
				<td>
					<select class="form-control"  name="paraAlquiler">
						<option value="true" @if(!nuevaEstacion && true==estacionForm.paraAlquiler){selected} > Si </option>
						<option value="false" @if(!nuevaEstacion && false==estacionForm.paraAlquiler){selected} > No </option>											
					</select>
				</td>
				<td><em>Seleccione si en la estación se pueden alquilar las bicicletas. <br>Por ejemplo: "Si"</em></td>
			</tr>
			<tr>
				<td>Para entrega:</td>
				<td>
					<select class="form-control"  name="paraEntrega">
						<option value="true" @if(true==estacionForm.paraEntrega){selected} > Si </option>
						<option value="false" @if(false==estacionForm.paraEntrega){selected} > No </option>											
					</select>
				</td>
				<td><em>Seleccione si en la estación se pueden entregar las bicicletas alquiladas. <br>Por ejemplo: "Si"</em></td>
			</tr>		
		</table>
	</fieldset>
	<br/>
	<input type="submit" class="btn btn-primary" value="Guardar" style="margin-left: 1cm;">
	<a class="btn" href="@routes.ControllerSitiosDeAlquiler.listarSitiosDeAlquiler()">Cancelar</a>
	}
	</div>
}