@(formRecorrido: Form[ControllerRecorrido.FormularioRecorrido], 
	tipoRecorrido:List[String],  
	diaFrecuente:Map[String,Boolean], 
	horaFrecuente:Map[String,Boolean],
	addressLat:String, 
	addressLong:String, 
	addressEndLat: String, 
	addressEndLong: String)

@import views.html.bootstrap3._

<style>
	#horaFrecuente{
		width: 44%;	
	}
	#descripcion{
		width: 100%;	
	}
</style>
<script type="text/javascript">

	$(document).ready(function(){
	
		$('#Recreacion').change(function (){
			if( $(this).is(":checked") ){ 
            	$('#divDiaFrec').hide();
				$('#divHoraFrec').hide();
				
				$('#divFechaInicio').show();
				$('#divFechaFin').show();
        	}
        });
		
		$('#Frecuente').change(function (){
			if( $(this).is(":checked") ){ 
            	$('#divDiaFrec').show();
				$('#DivHoraFrec').show();
				
				$('#divFechaInicio').hide();
				$('#divFechaFin').hide();
        	}
		}); 
	});
	
</script>

  <!-- Header -->
	
	<div style ="padding: 10px 0 10px 0">
	@radiobuttons(formRecorrido("tipoRecorrido"),
		label = "Tipo Recorrido:",
		buttonNameList = tipoRecorrido)
	</div>			
	
	<div style ="padding: 10px 0 10px 0">
	@text(formRecorrido("nombre"),
		label = "Nombre:",
        placeholder = "nombre",
        size = "50")
	</div>
	
	<div id="divDiaFrec" style ="padding: 10px 0 10px 0">	
	@checkboxes(formRecorrido("diaFrecuente"),
		label = "Días recorrido:",
		checkboxMap = diaFrecuente)
	</div>
	
	<div id="divHoraFrec" style ="padding: 10px 0 10px 0">
	  @select(formRecorrido("horaFrecuente"),
	  	  label = "Hora salida",
          optionMap = horaFrecuente,
          isMultiple = false)
	</div>
	
	<hr>
	
	<h2>Ruta</h2>
	<div id="divFechaInicio" style ="padding: 10px 0 10px 0; margin-left:0">
		@helper.inputText(formRecorrido("fechaInicioRuta"),
	    '_label -> "Fecha salida",
	    'type -> "datetime-local"
		)
	</div>
	
	<div id="divFechaFin" style ="padding: 10px 0 10px 0">
		@helper.inputText(formRecorrido("fechaFinRuta"),
	    '_value -> addressLat,
	    'type -> "datetime-local"
		)
	</div>
	<table border="0">
		<tr>
			<td>
				<div style ="padding: 10px 0 10px 0">
				@text(formRecorrido("lugarInicio"),
					label = "Lugar salida:",
			        placeholder = "Salida",
			        size = "40",
			        id = "address")
				</div>
			</td>
			<td>
				<div style ="padding: 10px 0 10px 0;">
				@text(formRecorrido("lugarFin"),
					label = "Lugar llegada:",
					placeholder = "Llegada",
					size = "40",
					id = "addressEnd")
				</div>
			</td>
			<td>
				<div style ="padding: 10px 0 10px 0;">
					<input id="search" type="button" value ="Search" class="btn btn-primary"/>
				</div>	
			</td>
		</tr>
	</table>
	<br>
	<div>
		<div style="margin:auto" id="map_canvas"></div>
	</div>
	<hr>
	<br>
	<div style ="padding: 10px 0 10px 0;">
		@textarea(formRecorrido("descripcion"),
			label = "Descripción recorrido:",
        	placeholder = "Descripción")
	</div>		
	<div style="text-align:right">
		<button id="submit" type="submit" value="Submit" class="btn btn-primary">Aceptar</button>
		<button id="cancel" class="btn cancel">Cancelar</button>
	</div>
